.container {
  padding: 2rem;
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
select {
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.submit {
  padding: 0.7rem;
  background: #5cb85c;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.submit:hover {
  background: #449d44;
}

.error {
  color:red;
  text-align: center;
  font-size:32px;
}